header {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    background-color: orangered;
}

.home_page {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 2fr 2fr;
}
.title {
    color: rgb(71, 88, 40);
}
.first {
    width: 300%;
    grid-column: 1/2;
    grid-row: 2/3
}
.second {
    width: 300%;
    grid-column: 2/3;
    grid-row: 2/3

}
.third {
    width: 300%;
    grid-column: 3/4;
    grid-row: 2/3

}
.fourth {
    width: 300%;
    grid-column: 4/5;
    grid-row: 2/3

}
.fifth {
    width: 300%;
    grid-column: 1/2;
    grid-row: 3/4

}
#Vegetarian-Tacos-button {
    font-weight: bold;
}

a {
    color: darkolivegreen;
    text-decoration: none;
/* https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration */
}

a:hover {
    color:darkolivegreen
}

figure {
    text-align: start;
    margin-left: 0px;
    margin-bottom: 25px;
}

img {
    width: 20%;
    height: auto;
}

.ing tr:nth-child(even) {
    background-color: rgb(180, 180, 180);
}
footer {
    position: static;
    bottom: 1px;
    background-color:rgb(150, 196, 59);
    padding: 20px;
}
